<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="styles.css">
    </head>

    <body>
        <div class="contenedor">
            <div class="text">
                <h1>This First Heading <span style="color: #838383">Will Catch Your Eye</span></h1>
                <p>L'Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis  </p>
                <p>euismod semper. Praesent commodo cursus magna, vel scelerisque nisl</p>
                <p>consectetur. Fusce dapibus, tellus ac cursus commmmodo.</p>
            </div>

            <div class="image">
                <img src="1.jpg" alt="calvo">
            </div>         
        </div>
    </body>
</html>
